{% extends "layout.html" %}

{% block title %}
    <title>Felsefemiz</title>
{% endblock title %}

{% block body %}
    <h1 align = "middle">Felsefemiz</h1>
    <hr>
    <p align = "middle">Ve aslında nereden anlaşılır gelişkinlik! Kendisine iyi gelen şeylerdenhoşlanır yalnızca;
        İyi gelme ölçüsü aşıldığında sona erer<br>hoşnutluğu da, hazzı da.Gördüğü zararların çarelerini bulur,
        kötü tesadüflerden kendi çıkarı için yararlanır; onu öldürmeyen şey güçlendirir.<br> Ne "şanssızlığa" inanır
        ne de "suça". Başa çıkar kendisiyle, başkalarıyla. Unutmayı bilir!      Frederich Nietzche ~ Ecce Homo <br><br><br>
        Ve bir kez kendi içindeki insanı anlamış olan tüm insanlığı anlar.      Stefan Zwig ~ Olağanüstü bir gece

    </p>
{% endblock  %}